container_commands:
  10_pre_install_sqlite3:
    command: "/opt/elasticbeanstalk/node-install/node-v0.10.21-linux-x64/bin/npm install sqlite3@2.1.16 --build-from-source"
    cwd: "/tmp/deployment/application"
    env:
      HOME: "/root"
      PATH: "/sbin:/bin:/usr/sbin:/usr/bin:/opt/aws/bin"

option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 0.10.21

packages:
  yum:
    gcc: []
    gcc-c++: []